:root {
    --primary: rgba(20, 114, 120, 1);
    --secondary-gold: rgba(161, 167, 80, 1);
    --secondary-blue: rgba(0, 62, 82, 1);
    --dropdown-orange: rgba(237, 185, 92, 1);
    --faded-white-for-cards: rgba(245, 245, 245, 1);
    --black: rgba(0, 0, 0, 1);
    --whitebg-color: rgba(255, 255, 255, 1);
    --h-3-font-family: "Gotham", Helvetica;
    --h-3-font-weight: 700;
    --h-3-font-size: 32px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: normal;
    --h-3-font-style: normal;
    --caption-copy-font-family: "Gotham", Helvetica;
    --caption-copy-font-weight: 400;
    --caption-copy-font-size: 12px;
    --caption-copy-letter-spacing: 0px;
    --caption-copy-line-height: normal;
    --caption-copy-font-style: normal;
    --primary-subheader-font-family: "Gotham", Helvetica;
    --primary-subheader-font-weight: 700;
    --primary-subheader-font-size: 20px;
    --primary-subheader-letter-spacing: 0px;
    --primary-subheader-line-height: normal;
    --primary-subheader-font-style: normal;
    --secondary-body-font-family: "Gotham", Helvetica;
    --secondary-body-font-weight: 700;
    --secondary-body-font-size: 10.5px;
    --secondary-body-letter-spacing: 0px;
    --secondary-body-line-height: normal;
    --secondary-body-font-style: normal;
    --body-copy-font-family: "Gotham", Helvetica;
    --body-copy-font-weight: 400;
    --body-copy-font-size: 20px;
    --body-copy-letter-spacing: 0px;
    --body-copy-line-height: 28px;
    --body-copy-font-style: normal;
    --h1-font-family: "Gotham", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 64px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h-2-font-family: "Gotham", Helvetica;
    --h-2-font-weight: 700;
    --h-2-font-size: 45px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: normal;
    --h-2-font-style: normal;
}
